.pagination > li:last-child > a
{
    border: none !important;
}
.customer-register-form .form-group
{
    padding: 0px 20px;
}
.results-section
{
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        "header header header"
        "item1 item2 item3";
}
.results-section .header {
    grid-area: header;
    background-color: grey;
    width: 100%;
    padding: 20px;
    color: white;
}
.results-section .item1 {
    grid-area: item1;
    margin: 40px 0px;
}
.results-section .item2 {
    grid-area: item2;
    margin: 40px 0px;
}
.results-section .item3 {
    grid-area: item3;
    margin: 40px 0px;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.checkout-cart-form {
     padding-bottom: 0;
}
